@font-face{
    font-family: 'Museo';
    src: url(../fonts/MuseoSansCyrl-100.ttf);
    font-weight: 100;
}
@font-face {
    font-family: 'Museo';
    src: url(../fonts/MuseoSansCyrl-300.ttf);
    font-weight: 300;
}
@font-face {
    font-family: 'Museo';
    src: url(../fonts/MuseoSansCyrl-500.ttf);
    font-weight: 500;
}
@font-face{
    font-family: 'Museo';
    src: url(../fonts/MuseoSansCyrl-700.ttf);
    font-weight: 700;
}
@font-face{
    font-family: 'Museo';
    src: url(../fonts/MuseoSansCyrl-900.ttf);
    font-weight: 900;
}
*{
    font-family: 'Museo';
    padding: 0;
    margin: 0;
}
body, html {
    overflow-x: hidden;
}
@import 'variables';
@import 'mixins';
.container {
    margin: auto;
    width: 960px;
    height: 100%;
    z-index: 1;
}
@import 'general';
@import 'media'